.App {
  text-align: center;
}

body {
  background-color: gainsboro;
}

.App-header {
  background-color: #2220af;
  min-height: 65px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.feedbackDiv {
    border: 1px solid;
    margin-left: 100px;
    margin-right: 100px;
    padding: 15px 75px;
    background-color: white;
}

table td {
  word-wrap: break-word;
}

.button {
  margin: 25px;
}
