.App {
  text-align: center;
}

.App-header {
  background-color: #033076;
  min-height: 70px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.feedbackDiv {
    border: 1px solid;
    margin-left: 100px;
    margin-right: 100px;
    padding-bottom: 15px;
}
